In [58]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics
from sklearn import svm
import numpy as np

In [10]:
def f(x):
    if type(x) == str:
        return "".join(x.split(" ")[:2])
    else:
        return np.nan

In [11]:
def g(x):
    return str(x.split(" ")[-1])

def h(x):
    return str(x.split(" ")[-2])

In [12]:
import numpy as np
def split_col(col):
    if not type(col) == float:
        return float(col.split("m")[0])
    else:
        return np.NaN

In [44]:
train = pd.read_csv("train.csv", dtype=str)
test = pd.read_csv("test.csv", dtype=str)
train.shape, test.shape

((246, 11), (62, 10))

In [45]:
# fix an issue at data
test.loc[test[test.period == 'USA'].index.values[0], "lived_in"] = "USA"
test.loc[test[test.period == 'USA'].index.values[0], "period"] = np.nan

In [46]:
#train = train.dropna()

train["short_period"]=train["period"].apply(f)

#train["is_herb"] = train["diet"].apply(is_herb)
#train["is_omni"] = train["diet"].apply(is_omni)
#train["is_carnivorous"] = train["diet"].apply(is_carnivorous)

train["length"] = train["length"].apply(split_col)

In [47]:
print(f"test shape: {test.shape}")
#test = test.dropna()
#print(f"test shape after dropna: {test.shape}")

test["short_period"]=test["period"].apply(f)

#test["is_herb"] = test["diet"].apply(is_herb)
#test["is_omni"] = test["diet"].apply(is_omni)
#test["is_carnivorous"] = test["diet"].apply(is_carnivorous)

test["length"] = test["length"].apply(split_col)

test shape: (62, 10)

In [48]:
feature_names = ["diet","short_period","lived_in","taxonomy"]

In [49]:
trainX = train[feature_names].copy(deep=True)
testX = test[feature_names].copy(deep=True)

In [50]:
trainX["data"] = "train"
testX["data"] = "test"

In [51]:
trainX

,diet,short_period,lived_in,taxonomy,data
0,carnivorous,LateTriassic,United Kingdom,Dinosauria,train
1,herbivorous/omnivorous,LateTriassic,Argentina,Dinosauria Saurischia Sauropodomorpha Prosauro...,train
2,herbivorous,LateCretaceous,China,Dinosauria Ornithischia Genasauria Cerapoda Or...,train
3,herbivorous,LateCretaceous,USA,Dinosauria Saurischia Sauropodomorpha Sauropod...,train
4,herbivorous,EarlyCretaceous,United Kingdom,Dinosauria Ornithischia Genasauria Cerapoda Or...,train
...,...,...,...,...,...
241,herbivorous,EarlyCretaceous,Mongolia,Dinosauria Ornithischia Genasauria Thyreophora...,train
242,herbivorous,EarlyCretaceous,Australia,Dinosauria Ornithischia Genasauria Cerapoda Or...,train
243,carnivorous,EarlyCretaceous,China,Dinosauria Saurischia Theropoda Neotheropoda T...,train
244,carnivorous,LateCretaceous,Argentina,Dinosauria Saurischia Theropoda Neotheropoda C...,train
245,omnivorous,LateTriassic,South Africa,Dinosauria Saurischia Sauropodomorpha Prosauro...,train

In [52]:
testX

,diet,short_period,lived_in,taxonomy,data
0,herbivorous,LateCretaceous,Romania,Dinosauria Saurischia Sauropodomorpha Sauropod...,test
1,herbivorous,LateJurassic,USA,Dinosauria Saurischia Sauropodomorpha Sauropod...,test
2,carnivorous,LateCretaceous,USA,Dinosauria Saurischia Theropoda Neotheropoda T...,test
3,carnivorous,EarlyCretaceous,USA,Dinosauria Saurischia Theropoda Neotheropoda T...,test
4,omnivorous,NaN,USA,Dinosauria Saurischia Theropoda Neotheropoda T...,test
...,...,...,...,...,...
57,herbivorous,MidJurassic,China,Dinosauria Saurischia Sauropodomorpha Sauropod...,test
58,herbivorous,LateCretaceous,Mongolia,Dinosauria Ornithischia Genasauria Thyreophora...,test
59,carnivorous,LateCretaceous,Morocco,Dinosauria Saurischia Theropoda Neotheropoda T...,test
60,herbivorous,LateCretaceous,Canada,Dinosauria Ornithischia Genasauria Cerapoda Ma...,test
61,herbivorous,LateCretaceous,Canada,Dinosauria Ornithischia Genasauria Cerapoda Or...,test

In [53]:
train_test_X = pd.concat([trainX, testX], ignore_index=True)
ex_train_test_X_dummies = pd.get_dummies(train_test_X)

transformer = make_column_transformer(
    (OneHotEncoder(sparse=False), feature_names),
    remainder='passthrough'
)
transformed = transformer.fit_transform(train_test_X)
train_test_X_dummies = pd.DataFrame(
    transformed,
    columns=transformer.get_feature_names_out()
)

train_X=train_test_X_dummies.iloc[:trainX.shape[0]]
test_X=train_test_X_dummies.iloc[trainX.shape[0]:]
train_y = train["type"].values

C:\ProgramData\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [54]:
train_X

,onehotencoder__diet_carnivorous,onehotencoder__diet_herbivorous,onehotencoder__diet_herbivorous/omnivorous,onehotencoder__diet_omnivorous,onehotencoder__diet_unknown,onehotencoder__short_period_EarlyCretaceous,onehotencoder__short_period_EarlyJurassic,onehotencoder__short_period_LateCretaceous,onehotencoder__short_period_LateJurassic,onehotencoder__short_period_LateTriassic,...,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Maniraptoriformes Ornithomimosauria,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Maniraptoriformes Ornithomimosauria Ornithomimidae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea Tyrannosauridae Albertosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea Tyrannosauridae Tyrannosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Megalosauridae Eustreptospondylinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Megalosauridae Megalosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Spinosauridae Baryonychinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Spinosauridae Spinosaurinae,remainder__data
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
242,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
243,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
244,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
245,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train

In [55]:
test_X

,onehotencoder__diet_carnivorous,onehotencoder__diet_herbivorous,onehotencoder__diet_herbivorous/omnivorous,onehotencoder__diet_omnivorous,onehotencoder__diet_unknown,onehotencoder__short_period_EarlyCretaceous,onehotencoder__short_period_EarlyJurassic,onehotencoder__short_period_LateCretaceous,onehotencoder__short_period_LateJurassic,onehotencoder__short_period_LateTriassic,...,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Maniraptoriformes Ornithomimosauria,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Maniraptoriformes Ornithomimosauria Ornithomimidae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea Tyrannosauridae Albertosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea Tyrannosauridae Tyrannosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Megalosauridae Eustreptospondylinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Megalosauridae Megalosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Spinosauridae Baryonychinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Spinosauridae Spinosaurinae,remainder__data
246,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
247,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
248,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,test
249,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
250,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
304,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
305,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
306,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
307,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test

In [27]:
test_X

Empty DataFrame
Columns: [onehotencoder__diet_carnivorous, onehotencoder__diet_herbivorous, onehotencoder__diet_herbivorous/omnivorous, onehotencoder__diet_omnivorous, onehotencoder__short_period_EarlyCretaceous, onehotencoder__short_period_EarlyJurassic, onehotencoder__short_period_LateCretaceous, onehotencoder__short_period_LateJurassic, onehotencoder__short_period_LateTriassic, onehotencoder__short_period_MidJurassic, onehotencoder__lived_in_Antarctica, onehotencoder__lived_in_Argentina, onehotencoder__lived_in_Australia, onehotencoder__lived_in_Brazil, onehotencoder__lived_in_Canada, onehotencoder__lived_in_China, onehotencoder__lived_in_Egypt, onehotencoder__lived_in_France, onehotencoder__lived_in_Germany, onehotencoder__lived_in_India, onehotencoder__lived_in_Japan, onehotencoder__lived_in_Kazakhstan, onehotencoder__lived_in_Madagascar, onehotencoder__lived_in_Mongolia, onehotencoder__lived_in_Morocco, onehotencoder__lived_in_Niger, onehotencoder__lived_in_North Africa, onehotencoder__lived_in_Romania, onehotencoder__lived_in_Russia, onehotencoder__lived_in_South Africa, onehotencoder__lived_in_Spain, onehotencoder__lived_in_Switzerland, onehotencoder__lived_in_Tanzania, onehotencoder__lived_in_Tunisia, onehotencoder__lived_in_USA, onehotencoder__lived_in_United Kingdom, onehotencoder__lived_in_Uruguay, onehotencoder__lived_in_Uzbekistan, onehotencoder__lived_in_Wales, onehotencoder__lived_in_Zimbabwe, onehotencoder__taxonomy_end_Abelisauria, onehotencoder__taxonomy_end_Abelisauridae, onehotencoder__taxonomy_end_Abelisaurinae, onehotencoder__taxonomy_end_Albertosaurinae, onehotencoder__taxonomy_end_Allosauridae, onehotencoder__taxonomy_end_Alvarezsauridae, onehotencoder__taxonomy_end_Anchisauria, onehotencoder__taxonomy_end_Anchisauridae, onehotencoder__taxonomy_end_Ankylopollexia, onehotencoder__taxonomy_end_Ankylosauria, onehotencoder__taxonomy_end_Ankylosauridae, onehotencoder__taxonomy_end_Avetheropoda, onehotencoder__taxonomy_end_Avimimidae, onehotencoder__taxonomy_end_Bagaceratopsidae, onehotencoder__taxonomy_end_Baryonychinae, onehotencoder__taxonomy_end_Brachiosauridae, onehotencoder__taxonomy_end_Caenagnathidae, onehotencoder__taxonomy_end_Carcharodontosauridae, onehotencoder__taxonomy_end_Carnosauria, onehotencoder__taxonomy_end_Centrosaurinae, onehotencoder__taxonomy_end_Ceratosauria, onehotencoder__taxonomy_end_Cetiosauridae, onehotencoder__taxonomy_end_Chasmosaurinae, onehotencoder__taxonomy_end_Coelophysidae, onehotencoder__taxonomy_end_Coelophysoidea, onehotencoder__taxonomy_end_Coelurosauria, onehotencoder__taxonomy_end_Compsognathidae, onehotencoder__taxonomy_end_Coronosauria, onehotencoder__taxonomy_end_Dicraeosauridae, onehotencoder__taxonomy_end_Diplodocidae, onehotencoder__taxonomy_end_Diplodocoidea, onehotencoder__taxonomy_end_Dromaeosauridae, onehotencoder__taxonomy_end_Dryosauridae, onehotencoder__taxonomy_end_Eumaniraptora, onehotencoder__taxonomy_end_Euornithopoda, onehotencoder__taxonomy_end_Eusauropoda, onehotencoder__taxonomy_end_Eustreptospondylinae, onehotencoder__taxonomy_end_Giganotosaurinae, onehotencoder__taxonomy_end_Goyocephala, onehotencoder__taxonomy_end_Hadrosauridae, onehotencoder__taxonomy_end_Hadrosaurinae, onehotencoder__taxonomy_end_Herrerasauridae, onehotencoder__taxonomy_end_Heterodontosauridae, onehotencoder__taxonomy_end_Homalocephaloidea, onehotencoder__taxonomy_end_Huayangosauridae, onehotencoder__taxonomy_end_Hypsilophodontidae, onehotencoder__taxonomy_end_Iguanadontia, onehotencoder__taxonomy_end_Iguanodontoidea, onehotencoder__taxonomy_end_Ingeniinae, onehotencoder__taxonomy_end_Lambeosaurinae, onehotencoder__taxonomy_end_Lithostrotia, onehotencoder__taxonomy_end_Macronaria, onehotencoder__taxonomy_end_Megalosaurinae, onehotencoder__taxonomy_end_Melanorosauridae, onehotencoder__taxonomy_end_Nemegtosauridae, onehotencoder__taxonomy_end_Neoceratopsia, onehotencoder__taxonomy_end_Neoceratosauria, onehotencoder__taxonomy_end_Neotheropoda, onehotencoder__taxonomy_end_Nodosauridae, onehotencoder__taxonomy_end_Ornithischia, ...]
Index: []

[0 rows x 190 columns]

In [56]:
train_test_X_dummies

,onehotencoder__diet_carnivorous,onehotencoder__diet_herbivorous,onehotencoder__diet_herbivorous/omnivorous,onehotencoder__diet_omnivorous,onehotencoder__diet_unknown,onehotencoder__short_period_EarlyCretaceous,onehotencoder__short_period_EarlyJurassic,onehotencoder__short_period_LateCretaceous,onehotencoder__short_period_LateJurassic,onehotencoder__short_period_LateTriassic,...,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Maniraptoriformes Ornithomimosauria,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Maniraptoriformes Ornithomimosauria Ornithomimidae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea Tyrannosauridae Albertosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Avetheropoda Coelurosauria Tyrannoraptora Tyrannosauroidea Tyrannosauridae Tyrannosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Megalosauridae Eustreptospondylinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Megalosauridae Megalosaurinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Spinosauridae Baryonychinae,onehotencoder__taxonomy_Dinosauria Saurischia Theropoda Neotheropoda Tetanurae Spinosauroidea Spinosauridae Spinosaurinae,remainder__data
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
304,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
305,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
306,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test
307,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,test

In [61]:
train_X=train_X.drop("remainder__data", axis=1)
test_X = test_X.drop("remainder__data", axis=1)

In [62]:
from sklearn.model_selection import train_test_split
linears = []
rbfs = []

for random_state in range(1000):
    print(f"{100*(random_state/1000)}%")
    X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, test_size=0.20, random_state=random_state)

    linear_svm_classifier = svm.SVC(kernel="linear") # linear kernel
    rbf_svm_classifier = svm.SVC(kernel="rbf") # rbf kernel


    # fit classifiers && train models
    linear_svm_classifier.fit(X_train, y_train)
    rbf_svm_classifier.fit(X_train, y_train)

    # make predictions using trained models
    linear_y_pred = linear_svm_classifier.predict(X_test)
    rbf_y_pred = rbf_svm_classifier.predict(X_test)

    # evaluate scores


    linears.append(metrics.accuracy_score(y_test, linear_y_pred))
    rbfs.append(metrics.accuracy_score(y_test, rbf_y_pred))



print(f"Max linear accuracy on : {linears.index(max(linears))} with {max(linears)} (rbf: {rbfs[linears.index(max(linears))]})")
print(f"Max rbf accuracy on : {rbfs.index(max(rbfs))} with {max(rbfs)}")

0.0%
0.1%
0.2%
0.3%
0.4%
0.5%
0.6%
0.7000000000000001%
0.8%
0.8999999999999999%
1.0%
1.0999999999999999%
1.2%
1.3%
1.4000000000000001%
1.5%
1.6%
1.7000000000000002%
1.7999999999999998%
1.9%
2.0%
2.1%
2.1999999999999997%
2.3%
2.4%
2.5%
2.6%
2.7%
2.8000000000000003%
2.9000000000000004%
3.0%
3.1%
3.2%
3.3000000000000003%
3.4000000000000004%
3.5000000000000004%
3.5999999999999996%
3.6999999999999997%
3.8%
3.9%
4.0%
4.1000000000000005%
4.2%
4.3%
4.3999999999999995%
4.5%
4.6%
4.7%
4.8%
4.9%
5.0%
5.1%
5.2%
5.3%
5.4%
5.5%
5.6000000000000005%
5.7%
5.800000000000001%
5.8999999999999995%
6.0%
6.1%
6.2%
6.3%
6.4%
6.5%
6.6000000000000005%
6.7%
6.800000000000001%
6.9%
7.000000000000001%
7.1%
7.199999999999999%
7.3%
7.3999999999999995%
7.5%
7.6%
7.7%
7.8%
7.9%
8.0%
8.1%
8.200000000000001%
8.3%
8.4%
8.5%
8.6%
8.7%
8.799999999999999%
8.9%
9.0%
9.1%
9.2%
9.3%
9.4%
9.5%
9.6%
9.700000000000001%
9.8%
9.9%
10.0%
10.100000000000001%
10.2%
10.299999999999999%
10.4%
10.5%
10.6%
10.7%
10.8%
10.9%
11.0%
11.1%
11.200000000000001%
11.3%
11.4%
11.5%
11.600000000000001%
11.700000000000001%
11.799999999999999%
11.899999999999999%
12.0%
12.1%
12.2%
12.3%
12.4%
12.5%
12.6%
12.7%
12.8%
12.9%
13.0%
13.100000000000001%
13.200000000000001%
13.3%
13.4%
13.5%
13.600000000000001%
13.700000000000001%
13.8%
13.900000000000002%
14.000000000000002%
14.099999999999998%
14.2%
14.299999999999999%
14.399999999999999%
14.499999999999998%
14.6%
14.7%
14.799999999999999%
14.899999999999999%
15.0%
15.1%
15.2%
15.299999999999999%
15.4%
15.5%
15.6%
15.7%
15.8%
15.9%
16.0%
16.1%
16.2%
16.3%
16.400000000000002%
16.5%
16.6%
16.7%
16.8%
16.900000000000002%
17.0%
17.1%
17.2%
17.299999999999997%
17.4%
17.5%
17.599999999999998%
17.7%
17.8%
17.9%
18.0%
18.099999999999998%
18.2%
18.3%
18.4%
18.5%
18.6%
18.7%
18.8%
18.9%
19.0%
19.1%
19.2%
19.3%
19.400000000000002%
19.5%
19.6%
19.7%
19.8%
19.900000000000002%
20.0%
20.1%
20.200000000000003%
20.3%
20.4%
20.5%
20.599999999999998%
20.7%
20.8%
20.9%
21.0%
21.099999999999998%
21.2%
21.3%
21.4%
21.5%
21.6%
21.7%
21.8%
21.9%
22.0%
22.1%
22.2%
22.3%
22.400000000000002%
22.5%
22.6%
22.7%
22.8%
22.900000000000002%
23.0%
23.1%
23.200000000000003%
23.3%
23.400000000000002%
23.5%
23.599999999999998%
23.7%
23.799999999999997%
23.9%
24.0%
24.099999999999998%
24.2%
24.3%
24.4%
24.5%
24.6%
24.7%
24.8%
24.9%
25.0%
25.1%
25.2%
25.3%
25.4%
25.5%
25.6%
25.7%
25.8%
25.900000000000002%
26.0%
26.1%
26.200000000000003%
26.3%
26.400000000000002%
26.5%
26.6%
26.700000000000003%
26.8%
26.900000000000002%
27.0%
27.1%
27.200000000000003%
27.3%
27.400000000000002%
27.500000000000004%
27.6%
27.700000000000003%
27.800000000000004%
27.900000000000002%
28.000000000000004%
28.1%
28.199999999999996%
28.299999999999997%
28.4%
28.499999999999996%
28.599999999999998%
28.7%
28.799999999999997%
28.9%
28.999999999999996%
29.099999999999998%
29.2%
29.299999999999997%
29.4%
29.5%
29.599999999999998%
29.7%
29.799999999999997%
29.9%
30.0%
30.099999999999998%
30.2%
30.3%
30.4%
30.5%
30.599999999999998%
30.7%
30.8%
30.9%
31.0%
31.1%
31.2%
31.3%
31.4%
31.5%
31.6%
31.7%
31.8%
31.900000000000002%
32.0%
32.1%
32.2%
32.300000000000004%
32.4%
32.5%
32.6%
32.7%
32.800000000000004%
32.9%
33.0%
33.1%
33.2%
33.300000000000004%
33.4%
33.5%
33.6%
33.7%
33.800000000000004%
33.900000000000006%
34.0%
34.1%
34.2%
34.300000000000004%
34.4%
34.5%
34.599999999999994%
34.699999999999996%
34.8%
34.9%
35.0%
35.099999999999994%
35.199999999999996%
35.3%
35.4%
35.5%
35.6%
35.699999999999996%
35.8%
35.9%
36.0%
36.1%
36.199999999999996%
36.3%
36.4%
36.5%
36.6%
36.7%
36.8%
36.9%
37.0%
37.1%
37.2%
37.3%
37.4%
37.5%
37.6%
37.7%
37.8%
37.9%
38.0%
38.1%
38.2%
38.3%
38.4%
38.5%
38.6%
38.7%
38.800000000000004%
38.9%
39.0%
39.1%
39.2%
39.300000000000004%
39.4%
39.5%
39.6%
39.7%
39.800000000000004%
39.900000000000006%
40.0%
40.1%
40.2%
40.300000000000004%
40.400000000000006%
40.5%
40.6%
40.699999999999996%
40.8%
40.9%
41.0%
41.099999999999994%
41.199999999999996%
41.3%
41.4%
41.5%
41.6%
41.699999999999996%
41.8%
41.9%
42.0%
42.1%
42.199999999999996%
42.3%
42.4%
42.5%
42.6%
42.699999999999996%
42.8%
42.9%
43.0%
43.1%
43.2%
43.3%
43.4%
43.5%
43.6%
43.7%
43.8%
43.9%
44.0%
44.1%
44.2%
44.3%
44.4%
44.5%
44.6%
44.7%
44.800000000000004%
44.9%
45.0%
45.1%
45.2%
45.300000000000004%
45.4%
45.5%
45.6%
45.7%
45.800000000000004%
45.9%
46.0%
46.1%
46.2%
46.300000000000004%
46.400000000000006%
46.5%
46.6%
46.7%
46.800000000000004%
46.9%
47.0%
47.099999999999994%
47.199999999999996%
47.3%
47.4%
47.5%
47.599999999999994%
47.699999999999996%
47.8%
47.9%
48.0%
48.1%
48.199999999999996%
48.3%
48.4%
48.5%
48.6%
48.699999999999996%
48.8%
48.9%
49.0%
49.1%
49.2%
49.3%
49.4%
49.5%
49.6%
49.7%
49.8%
49.9%
50.0%
50.1%
50.2%
50.3%
50.4%
50.5%
50.6%
50.7%
50.8%
50.9%
51.0%
51.1%
51.2%
51.300000000000004%
51.4%
51.5%
51.6%
51.7%
51.800000000000004%
51.9%
52.0%
52.1%
52.2%
52.300000000000004%
52.400000000000006%
52.5%
52.6%
52.7%
52.800000000000004%
52.900000000000006%
53.0%
53.1%
53.2%
53.300000000000004%
53.400000000000006%
53.5%
53.6%
53.7%
53.800000000000004%
53.900000000000006%
54.0%
54.1%
54.2%
54.300000000000004%
54.400000000000006%
54.50000000000001%
54.6%
54.7%
54.800000000000004%
54.900000000000006%
55.00000000000001%
55.1%
55.2%
55.300000000000004%
55.400000000000006%
55.50000000000001%
55.60000000000001%
55.7%
55.800000000000004%
55.900000000000006%
56.00000000000001%
56.10000000000001%
56.2%
56.3%
56.39999999999999%
56.49999999999999%
56.599999999999994%
56.699999999999996%
56.8%
56.89999999999999%
56.99999999999999%
57.099999999999994%
57.199999999999996%
57.3%
57.4%
57.49999999999999%
57.599999999999994%
57.699999999999996%
57.8%
57.9%
57.99999999999999%
58.099999999999994%
58.199999999999996%
58.3%
58.4%
58.5%
58.599999999999994%
58.699999999999996%
58.8%
58.9%
59.0%
59.099999999999994%
59.199999999999996%
59.3%
59.4%
59.5%
59.599999999999994%
59.699999999999996%
59.8%
59.9%
60.0%
60.099999999999994%
60.199999999999996%
60.3%
60.4%
60.5%
60.6%
60.699999999999996%
60.8%
60.9%
61.0%
61.1%
61.199999999999996%
61.3%
61.4%
61.5%
61.6%
61.7%
61.8%
61.9%
62.0%
62.1%
62.2%
62.3%
62.4%
62.5%
62.6%
62.7%
62.8%
62.9%
63.0%
63.1%
63.2%
63.3%
63.4%
63.5%
63.6%
63.7%
63.800000000000004%
63.9%
64.0%
64.1%
64.2%
64.3%
64.4%
64.5%
64.60000000000001%
64.7%
64.8%
64.9%
65.0%
65.10000000000001%
65.2%
65.3%
65.4%
65.5%
65.60000000000001%
65.7%
65.8%
65.9%
66.0%
66.10000000000001%
66.2%
66.3%
66.4%
66.5%
66.60000000000001%
66.7%
66.8%
66.9%
67.0%
67.10000000000001%
67.2%
67.30000000000001%
67.4%
67.5%
67.60000000000001%
67.7%
67.80000000000001%
67.9%
68.0%
68.10000000000001%
68.2%
68.30000000000001%
68.4%
68.5%
68.60000000000001%
68.7%
68.8%
68.89999999999999%
69.0%
69.1%
69.19999999999999%
69.3%
69.39999999999999%
69.5%
69.6%
69.69999999999999%
69.8%
69.89999999999999%
70.0%
70.1%
70.19999999999999%
70.3%
70.39999999999999%
70.5%
70.6%
70.7%
70.8%
70.89999999999999%
71.0%
71.1%
71.2%
71.3%
71.39999999999999%
71.5%
71.6%
71.7%
71.8%
71.89999999999999%
72.0%
72.1%
72.2%
72.3%
72.39999999999999%
72.5%
72.6%
72.7%
72.8%
72.89999999999999%
73.0%
73.1%
73.2%
73.3%
73.4%
73.5%
73.6%
73.7%
73.8%
73.9%
74.0%
74.1%
74.2%
74.3%
74.4%
74.5%
74.6%
74.7%
74.8%
74.9%
75.0%
75.1%
75.2%
75.3%
75.4%
75.5%
75.6%
75.7%
75.8%
75.9%
76.0%
76.1%
76.2%
76.3%
76.4%
76.5%
76.6%
76.7%
76.8%
76.9%
77.0%
77.10000000000001%
77.2%
77.3%
77.4%
77.5%
77.60000000000001%
77.7%
77.8%
77.9%
78.0%
78.10000000000001%
78.2%
78.3%
78.4%
78.5%
78.60000000000001%
78.7%
78.8%
78.9%
79.0%
79.10000000000001%
79.2%
79.3%
79.4%
79.5%
79.60000000000001%
79.7%
79.80000000000001%
79.9%
80.0%
80.10000000000001%
80.2%
80.30000000000001%
80.4%
80.5%
80.60000000000001%
80.7%
80.80000000000001%
80.9%
81.0%
81.10000000000001%
81.2%
81.3%
81.39999999999999%
81.5%
81.6%
81.69999999999999%
81.8%
81.89999999999999%
82.0%
82.1%
82.19999999999999%
82.3%
82.39999999999999%
82.5%
82.6%
82.69999999999999%
82.8%
82.89999999999999%
83.0%
83.1%
83.2%
83.3%
83.39999999999999%
83.5%
83.6%
83.7%
83.8%
83.89999999999999%
84.0%
84.1%
84.2%
84.3%
84.39999999999999%
84.5%
84.6%
84.7%
84.8%
84.89999999999999%
85.0%
85.1%
85.2%
85.3%
85.39999999999999%
85.5%
85.6%
85.7%
85.8%
85.9%
86.0%
86.1%
86.2%
86.3%
86.4%
86.5%
86.6%
86.7%
86.8%
86.9%
87.0%
87.1%
87.2%
87.3%
87.4%
87.5%
87.6%
87.7%
87.8%
87.9%
88.0%
88.1%
88.2%
88.3%
88.4%
88.5%
88.6%
88.7%
88.8%
88.9%
89.0%
89.1%
89.2%
89.3%
89.4%
89.5%
89.60000000000001%
89.7%
89.8%
89.9%
90.0%
90.10000000000001%
90.2%
90.3%
90.4%
90.5%
90.60000000000001%
90.7%
90.8%
90.9%
91.0%
91.10000000000001%
91.2%
91.3%
91.4%
91.5%
91.60000000000001%
91.7%
91.8%
91.9%
92.0%
92.10000000000001%
92.2%
92.30000000000001%
92.4%
92.5%
92.60000000000001%
92.7%
92.80000000000001%
92.9%
93.0%
93.10000000000001%
93.2%
93.30000000000001%
93.4%
93.5%
93.60000000000001%
93.7%
93.8%
93.89999999999999%
94.0%
94.1%
94.19999999999999%
94.3%
94.39999999999999%
94.5%
94.6%
94.69999999999999%
94.8%
94.89999999999999%
95.0%
95.1%
95.19999999999999%
95.3%
95.39999999999999%
95.5%
95.6%
95.7%
95.8%
95.89999999999999%
96.0%
96.1%
96.2%
96.3%
96.39999999999999%
96.5%
96.6%
96.7%
96.8%
96.89999999999999%
97.0%
97.1%
97.2%
97.3%
97.39999999999999%
97.5%
97.6%
97.7%
97.8%
97.89999999999999%
98.0%
98.1%
98.2%
98.3%
98.4%
98.5%
98.6%
98.7%
98.8%
98.9%
99.0%
99.1%
99.2%
99.3%
99.4%
99.5%
99.6%
99.7%
99.8%
99.9%
Max linear accuracy on : 428 with 0.96 (rbf: 0.86)
Max rbf accuracy on : 257 with 0.92

In [77]:
skf = StratifiedKFold(n_splits=5)
for x,y in skf.split(train_X, train_y):
    print(train_y[x].shape)
    print("-")
    print(train_y[y].shape)

(196,)
-
(50,)
(197,)
-
(49,)
(197,)
-
(49,)
(197,)
-
(49,)
(197,)
-
(49,)

In [82]:
# Load the dataset
# Initialize stratified k-fold cross-validation
skf = StratifiedKFold(n_splits=5)  #the number of folds is 5

# Perform stratified k-fold cross-validation
rbf_accuracy_scores = []
linear_accuracy_scores = []
for train_index, test_index in skf.split(train_X, train_y):
    X_train, X_test = train_X.iloc[train_index], train_X.iloc[test_index]
    y_train, y_test = train_y[train_index], train_y[test_index]

    linear_svm_classifier = svm.SVC(kernel="linear") # linear kernel
    rbf_svm_classifier = svm.SVC(kernel="rbf") # rbf kernel


    # fit classifiers && train models
    linear_svm_classifier.fit(X_train, y_train)
    rbf_svm_classifier.fit(X_train, y_train)

    # make predictions using trained models
    linear_y_pred = linear_svm_classifier.predict(X_test)
    rbf_y_pred = rbf_svm_classifier.predict(X_test)

    # evaluate scores


    linear_accuracy_scores.append(metrics.accuracy_score(y_test, linear_y_pred))
    rbf_accuracy_scores.append(metrics.accuracy_score(y_test, rbf_y_pred))


# Calculate the mean accuracy
mean_accuracy = np.mean(linear_accuracy_scores)
rbf_mean_accuracy = np.mean(rbf_accuracy_scores)
print("Mean accuracy:", mean_accuracy)
print("Mean accuracy rbf:", rbf_mean_accuracy)

Mean accuracy: 0.8333061224489796
Mean accuracy rbf: 0.7844897959183673

In [84]:
from sklearn.metrics import f1_score

f1_scores = []
k = 10
skf = StratifiedKFold(n_splits=k)

# Perform k-fold stratified cross-validation
for train_index, test_index in skf.split(train_X, train_y):
    X_train, X_test = train_X.iloc[train_index], train_X.iloc[test_index]
    y_train, y_test = train_y[train_index], train_y[test_index]

    linear_svm_classifier = svm.SVC(kernel="linear") # linear kernel
    # fit classifiers && train models
    linear_svm_classifier.fit(X_train, y_train)
    # make predictions using trained models
    linear_y_pred = linear_svm_classifier.predict(X_test)

    # Compute the weighted-average F1-score for this fold
    fold_f1_score = f1_score(y_test, linear_y_pred, average='weighted')
    f1_scores.append(fold_f1_score)

# Calculate the mean F1-score across all folds
mean_weighted_f1_score = np.mean(f1_scores)
print("Mean weighted-average F1-score across", k, "folds:", mean_weighted_f1_score)

Mean weighted-average F1-score across 10 folds: 0.8421161967661966

In [168]:
X_train, X_test, y_train, y_test = train_test_split(train_X, train_y, test_size=0.20, random_state=66)
from sklearn import svm

linear_svm_classifier = svm.SVC(kernel="linear") # linear kernel
rbf_svm_classifier = svm.SVC(kernel="rbf") # rbf kernel


# fit classifiers && train models
linear_svm_classifier.fit(X_train, y_train)
rbf_svm_classifier.fit(X_train, y_train)

# make predictions using trained models
linear_y_pred = linear_svm_classifier.predict(X_test)
rbf_y_pred = rbf_svm_classifier.predict(X_test)

# evaluate scores
from sklearn import metrics

print(f"accuracy linear: {metrics.accuracy_score(y_test, linear_y_pred)}")
print(f"accuracy rbf: {metrics.accuracy_score(y_test, rbf_y_pred)}")

accuracy linear: 0.9782608695652174
accuracy rbf: 0.9347826086956522

In [175]:
test_X["type_linear"] = linear_svm_classifier.predict(test_X[train_X.columns])
test_X["type_rbf"] = linear_svm_classifier.predict(test_X[train_X.columns])

In [181]:
results=test_X.reset_index().reset_index()
results.rename(columns={"level_0":"id"}, inplace=True)
results["id"] = results["id"] + 1
linear_svm_results = results[["id","type_linear"]]
linear_svm_results.rename(columns={"type_linear":"type"}, inplace=True)
rbf_svm_results = results[["id","type_rbf"]]
rbf_svm_results.rename(columns={"type_rbf":"type"}, inplace=True)

C:\Users\alini\AppData\Local\Temp\ipykernel_25668\1550707187.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  linear_svm_results.rename(columns={"type_linear":"type"}, inplace=True)
C:\Users\alini\AppData\Local\Temp\ipykernel_25668\1550707187.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rbf_svm_results.rename(columns={"type_rbf":"type"}, inplace=True)

In [182]:
rbf_svm_results

    id               type
0    1           sauropod
1    2       euornithopod
2    3     large theropod
3    4     large theropod
4    5           sauropod
..  ..                ...
57  58           sauropod
58  59  armoured dinosaur
59  60     small theropod
60  61        ceratopsian
61  62       euornithopod

[62 rows x 2 columns]

In [183]:
linear_svm_results

    id               type
0    1           sauropod
1    2       euornithopod
2    3     large theropod
3    4     large theropod
4    5           sauropod
..  ..                ...
57  58           sauropod
58  59  armoured dinosaur
59  60     small theropod
60  61        ceratopsian
61  62       euornithopod

[62 rows x 2 columns]

In [193]:
(linear_svm_results == rbf_svm_results).mean().mean()

1.0

In [195]:
linear_svm_results.to_csv("submission_2_linear_svm.csv",index=False)
rbf_svm_results.to_csv("submission_2_rbf_svm.csv",index=False)

In [78]:
categories = ["diet", "period", "lived_in", "length", "taxonomy"]
train = train.astype("category", categories=categories)
test = test.astype("category", categories=categories)

TypeError: NDFrame.astype() got an unexpected keyword argument 'categories'

In [486]:
tX = testX.copy(deep=True)
for category in to_numeric_categories:
    tX[category].replace(category_dict[category][0], category_dict[category][1], inplace=True)

tX.dtypes

is_herb                  int64
is_omni                  int64
is_carnivorous           int64
short_period            object
taxonomy                object
lived_in                object
taxonomy_end            object
taxonomy_before_end     object
length                 float64
dtype: object

In [487]:
tX

,is_herb,is_omni,is_carnivorous,short_period,taxonomy,lived_in,taxonomy_end,taxonomy_before_end,length
0,1,0,0,1,2,27,2,2,5.0
1,1,0,0,4,Dinosauria Saurischia Sauropodomorpha Sauropod...,2,Camarasauridae,Camarasauromorpha,23.0
2,0,0,1,1,60,2,60,12,8.6
3,0,0,1,2,29,2,29,15,12.0
4,0,1,0,USA,Dinosauria Saurischia Theropoda Neotheropoda T...,NaN,Oviraptorosauria,38,3.0
...,...,...,...,...,...,...,...,...,...
57,1,0,0,3,11,1,11,11,5.0
58,1,0,0,1,27,4,27,23,6.0
59,0,0,1,1,16,14,16,14,8.1
60,1,0,0,1,9,6,9,9,6.0
61,1,0,0,1,8,6,8,8,3.0

In [488]:
def replace_unknown(x):

    if str(x).isdigit():
        return np.uint8(x)
    else:
        return np.NaN

for cg in to_numeric_categories:
    tX[cg] = tX[cg].apply(replace_unknown)

tX

,is_herb,is_omni,is_carnivorous,short_period,taxonomy,lived_in,taxonomy_end,taxonomy_before_end,length
0,1,0,0,1.0,2.0,27.0,2.0,2.0,5.0
1,1,0,0,4.0,NaN,2.0,NaN,NaN,23.0
2,0,0,1,1.0,60.0,2.0,60.0,12.0,8.6
3,0,0,1,2.0,29.0,2.0,29.0,15.0,12.0
4,0,1,0,NaN,NaN,NaN,NaN,38.0,3.0
...,...,...,...,...,...,...,...,...,...
57,1,0,0,3.0,11.0,1.0,11.0,11.0,5.0
58,1,0,0,1.0,27.0,4.0,27.0,23.0,6.0
59,0,0,1,1.0,16.0,14.0,16.0,14.0,8.1
60,1,0,0,1.0,9.0,6.0,9.0,9.0,6.0
61,1,0,0,1.0,8.0,6.0,8.0,8.0,3.0

In [489]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
import numpy as np

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, [0])
    ])

In [490]:
preprocessor.fit_transform(tX)

ValueError: 'fill_value'=missing is invalid. Expected a numerical value when imputing numerical data

In [494]:
ttX=tX.dropna()

In [496]:
ttX

,is_herb,is_omni,is_carnivorous,short_period,taxonomy,lived_in,taxonomy_end,taxonomy_before_end,length
0,1,0,0,1.0,2.0,27.0,2.0,2.0,5.0
2,0,0,1,1.0,60.0,2.0,60.0,12.0,8.6
3,0,0,1,2.0,29.0,2.0,29.0,15.0,12.0
5,0,0,0,1.0,45.0,4.0,45.0,38.0,1.0
6,1,0,0,5.0,52.0,2.0,52.0,0.0,2.0
8,0,0,1,4.0,10.0,9.0,10.0,10.0,6.2
9,0,1,0,1.0,6.0,4.0,6.0,6.0,2.1
10,1,0,0,2.0,3.0,1.0,3.0,3.0,6.0
13,1,0,0,1.0,20.0,0.0,20.0,18.0,3.0
14,1,0,0,3.0,15.0,1.0,15.0,13.0,15.0
15,0,1,0,1.0,4.0,6.0,4.0,4.0,3.5
18,1,0,0,3.0,28.0,1.0,28.0,24.0,10.0
19,1,0,0,3.0,8.0,1.0,8.0,8.0,3.0
20,1,0,0,1.0,86.0,4.0,86.0,7.0,23.0
21,1,0,0,1.0,33.0,2.0,33.0,1.0,7.6
22,1,0,0,1.0,33.0,26.0,33.0,1.0,8.0
23,1,0,0,1.0,9.0,2.0,9.0,9.0,6.0
24,1,0,0,2.0,73.0,3.0,73.0,55.0,3.0
25,1,0,0,1.0,57.0,4.0,57.0,45.0,1.8
26,1,0,0,5.0,31.0,8.0,31.0,26.0,14.0
27,0,0,1,1.0,49.0,0.0,49.0,41.0,2.4
28,0,0,1,1.0,74.0,0.0,74.0,56.0,1.0
29,1,0,0,1.0,27.0,2.0,27.0,23.0,7.0
30,1,0,0,1.0,1.0,2.0,1.0,1.0,11.0
32,0,1,0,1.0,23.0,4.0,23.0,21.0,10.0
33,1,0,0,2.0,61.0,2.0,61.0,23.0,5.0
35,0,0,1,3.0,79.0,2.0,79.0,42.0,0.9
39,1,0,0,1.0,57.0,4.0,57.0,45.0,0.5
40,0,0,1,1.0,45.0,0.0,45.0,38.0,2.0
41,1,0,0,2.0,3.0,23.0,3.0,3.0,7.0
42,0,0,1,3.0,16.0,16.0,16.0,14.0,1.0
43,0,0,1,5.0,35.0,17.0,35.0,29.0,6.2
44,1,0,0,1.0,1.0,2.0,1.0,1.0,9.0
45,0,0,1,1.0,14.0,2.0,14.0,12.0,12.0
46,1,0,0,4.0,38.0,9.0,38.0,32.0,20.0
48,0,0,1,2.0,67.0,23.0,67.0,51.0,9.0
49,0,0,1,1.0,72.0,25.0,72.0,54.0,6.0
50,1,0,0,1.0,18.0,0.0,18.0,16.0,12.0
51,0,0,1,3.0,75.0,17.0,75.0,51.0,9.0
53,1,0,0,2.0,3.0,20.0,3.0,3.0,4.7
57,1,0,0,3.0,11.0,1.0,11.0,11.0,5.0
58,1,0,0,1.0,27.0,4.0,27.0,23.0,6.0
59,0,0,1,1.0,16.0,14.0,16.0,14.0,8.1
60,1,0,0,1.0,9.0,6.0,9.0,9.0,6.0
61,1,0,0,1.0,8.0,6.0,8.0,8.0,3.0

In [491]:
tX.dtypes

is_herb                  int64
is_omni                  int64
is_carnivorous           int64
short_period           float64
taxonomy               float64
lived_in               float64
taxonomy_end           float64
taxonomy_before_end    float64
length                 float64
dtype: object

In [497]:
types = linear_svm_classifier.predict(ttX)
ttX["type"] = types

C:\Users\alini\AppData\Local\Temp\ipykernel_3416\1121451900.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ttX["type"] = types

In [498]:
ttX

,is_herb,is_omni,is_carnivorous,short_period,taxonomy,lived_in,taxonomy_end,taxonomy_before_end,length,type
0,1,0,0,1.0,2.0,27.0,2.0,2.0,5.0,1
2,0,0,1,1.0,60.0,2.0,60.0,12.0,8.6,0
3,0,0,1,2.0,29.0,2.0,29.0,15.0,12.0,2
5,0,0,0,1.0,45.0,4.0,45.0,38.0,1.0,4
6,1,0,0,5.0,52.0,2.0,52.0,0.0,2.0,3
8,0,0,1,4.0,10.0,9.0,10.0,10.0,6.2,2
9,0,1,0,1.0,6.0,4.0,6.0,6.0,2.1,4
10,1,0,0,2.0,3.0,1.0,3.0,3.0,6.0,1
13,1,0,0,1.0,20.0,0.0,20.0,18.0,3.0,1
14,1,0,0,3.0,15.0,1.0,15.0,13.0,15.0,0
15,0,1,0,1.0,4.0,6.0,4.0,4.0,3.5,4
18,1,0,0,3.0,28.0,1.0,28.0,24.0,10.0,0
19,1,0,0,3.0,8.0,1.0,8.0,8.0,3.0,3
20,1,0,0,1.0,86.0,4.0,86.0,7.0,23.0,0
21,1,0,0,1.0,33.0,2.0,33.0,1.0,7.6,1
22,1,0,0,1.0,33.0,26.0,33.0,1.0,8.0,1
23,1,0,0,1.0,9.0,2.0,9.0,9.0,6.0,1
24,1,0,0,2.0,73.0,3.0,73.0,55.0,3.0,1
25,1,0,0,1.0,57.0,4.0,57.0,45.0,1.8,1
26,1,0,0,5.0,31.0,8.0,31.0,26.0,14.0,0
27,0,0,1,1.0,49.0,0.0,49.0,41.0,2.4,4
28,0,0,1,1.0,74.0,0.0,74.0,56.0,1.0,4
29,1,0,0,1.0,27.0,2.0,27.0,23.0,7.0,1
30,1,0,0,1.0,1.0,2.0,1.0,1.0,11.0,1
32,0,1,0,1.0,23.0,4.0,23.0,21.0,10.0,2
33,1,0,0,2.0,61.0,2.0,61.0,23.0,5.0,1
35,0,0,1,3.0,79.0,2.0,79.0,42.0,0.9,4
39,1,0,0,1.0,57.0,4.0,57.0,45.0,0.5,1
40,0,0,1,1.0,45.0,0.0,45.0,38.0,2.0,4
41,1,0,0,2.0,3.0,23.0,3.0,3.0,7.0,1
42,0,0,1,3.0,16.0,16.0,16.0,14.0,1.0,4
43,0,0,1,5.0,35.0,17.0,35.0,29.0,6.2,2
44,1,0,0,1.0,1.0,2.0,1.0,1.0,9.0,1
45,0,0,1,1.0,14.0,2.0,14.0,12.0,12.0,2
46,1,0,0,4.0,38.0,9.0,38.0,32.0,20.0,0
48,0,0,1,2.0,67.0,23.0,67.0,51.0,9.0,2
49,0,0,1,1.0,72.0,25.0,72.0,54.0,6.0,2
50,1,0,0,1.0,18.0,0.0,18.0,16.0,12.0,0
51,0,0,1,3.0,75.0,17.0,75.0,51.0,9.0,2
53,1,0,0,2.0,3.0,20.0,3.0,3.0,4.7,1
57,1,0,0,3.0,11.0,1.0,11.0,11.0,5.0,3
58,1,0,0,1.0,27.0,4.0,27.0,23.0,6.0,1
59,0,0,1,1.0,16.0,14.0,16.0,14.0,8.1,2
60,1,0,0,1.0,9.0,6.0,9.0,9.0,6.0,1
61,1,0,0,1.0,8.0,6.0,8.0,8.0,3.0,1

In [500]:
ttX=ttX.reset_index()

In [503]:
ttX.rename(columns={"index":"id"}, inplace=True)

In [504]:
ttX

,id,is_herb,is_omni,is_carnivorous,short_period,taxonomy,lived_in,taxonomy_end,taxonomy_before_end,length,type
0,0,1,0,0,1.0,2.0,27.0,2.0,2.0,5.0,1
1,2,0,0,1,1.0,60.0,2.0,60.0,12.0,8.6,0
2,3,0,0,1,2.0,29.0,2.0,29.0,15.0,12.0,2
3,5,0,0,0,1.0,45.0,4.0,45.0,38.0,1.0,4
4,6,1,0,0,5.0,52.0,2.0,52.0,0.0,2.0,3
5,8,0,0,1,4.0,10.0,9.0,10.0,10.0,6.2,2
6,9,0,1,0,1.0,6.0,4.0,6.0,6.0,2.1,4
7,10,1,0,0,2.0,3.0,1.0,3.0,3.0,6.0,1
8,13,1,0,0,1.0,20.0,0.0,20.0,18.0,3.0,1
9,14,1,0,0,3.0,15.0,1.0,15.0,13.0,15.0,0
10,15,0,1,0,1.0,4.0,6.0,4.0,4.0,3.5,4
11,18,1,0,0,3.0,28.0,1.0,28.0,24.0,10.0,0
12,19,1,0,0,3.0,8.0,1.0,8.0,8.0,3.0,3
13,20,1,0,0,1.0,86.0,4.0,86.0,7.0,23.0,0
14,21,1,0,0,1.0,33.0,2.0,33.0,1.0,7.6,1
15,22,1,0,0,1.0,33.0,26.0,33.0,1.0,8.0,1
16,23,1,0,0,1.0,9.0,2.0,9.0,9.0,6.0,1
17,24,1,0,0,2.0,73.0,3.0,73.0,55.0,3.0,1
18,25,1,0,0,1.0,57.0,4.0,57.0,45.0,1.8,1
19,26,1,0,0,5.0,31.0,8.0,31.0,26.0,14.0,0
20,27,0,0,1,1.0,49.0,0.0,49.0,41.0,2.4,4
21,28,0,0,1,1.0,74.0,0.0,74.0,56.0,1.0,4
22,29,1,0,0,1.0,27.0,2.0,27.0,23.0,7.0,1
23,30,1,0,0,1.0,1.0,2.0,1.0,1.0,11.0,1
24,32,0,1,0,1.0,23.0,4.0,23.0,21.0,10.0,2
25,33,1,0,0,2.0,61.0,2.0,61.0,23.0,5.0,1
26,35,0,0,1,3.0,79.0,2.0,79.0,42.0,0.9,4
27,39,1,0,0,1.0,57.0,4.0,57.0,45.0,0.5,1
28,40,0,0,1,1.0,45.0,0.0,45.0,38.0,2.0,4
29,41,1,0,0,2.0,3.0,23.0,3.0,3.0,7.0,1
30,42,0,0,1,3.0,16.0,16.0,16.0,14.0,1.0,4
31,43,0,0,1,5.0,35.0,17.0,35.0,29.0,6.2,2
32,44,1,0,0,1.0,1.0,2.0,1.0,1.0,9.0,1
33,45,0,0,1,1.0,14.0,2.0,14.0,12.0,12.0,2
34,46,1,0,0,4.0,38.0,9.0,38.0,32.0,20.0,0
35,48,0,0,1,2.0,67.0,23.0,67.0,51.0,9.0,2
36,49,0,0,1,1.0,72.0,25.0,72.0,54.0,6.0,2
37,50,1,0,0,1.0,18.0,0.0,18.0,16.0,12.0,0
38,51,0,0,1,3.0,75.0,17.0,75.0,51.0,9.0,2
39,53,1,0,0,2.0,3.0,20.0,3.0,3.0,4.7,1
40,57,1,0,0,3.0,11.0,1.0,11.0,11.0,5.0,3
41,58,1,0,0,1.0,27.0,4.0,27.0,23.0,6.0,1
42,59,0,0,1,1.0,16.0,14.0,16.0,14.0,8.1,2
43,60,1,0,0,1.0,9.0,6.0,9.0,9.0,6.0,1
44,61,1,0,0,1.0,8.0,6.0,8.0,8.0,3.0,1

In [506]:
ttX.type.unique()

array([1, 0, 2, 4, 3], dtype=int64)

In [512]:
y.type.unique()

array(['sauropod', 'euornithopod', 'large theropod', 'armoured dinosaur',
       'small theropod', 'ceratopsian'], dtype=object)